<!DOCTYPE html>
<html lang="en">
<head>
    <title>所有文章</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container-sm">
    <div class="row mt-5">
        <div class="col-md-3 blog-sidebar">
            <div class="p-4 mb-3 bg-white rounded shadow-sm">
                <h1>Go Blog</h1>
                <p class="mb-0">摒弃世俗浮躁，追求纯粹技术</p>
            </div>

            <div class="p-4 bg-white rounded shadow-sm mb-3">
                <h5>分类</h5>
                <ol>
                    <li><a href="#">未分类</a></li>
                    <li><a href="#">模板</a></li>
                    <li><a href="#">数据库</a></li>
                </ol>
            </div>

            <div class="p-4 bg-white rounded shadow-sm mb-3">
                <h5>作者</h5>
                <ol>
                    <li><a href="#">LuStormstout</a></li>
                    <li><a href="#">AlexYue</a></li>
                    <li><a href="#">Max</a></li>
                </ol>
            </div>

            <div class="p-4 bg-white rounded shadow-sm mb-3">
                <h5>链接</h5>
                <ol>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">登录</a></li>
                </ol>
            </div>
        </div>

        <div class="col-md-9 blog-main">
            {{ range $key, $article := . }}
                <div class="blog-post bg-white p-5 rounded shadow mb-4">
                    <h3 class="blog-post-title">
                        <a class="text-dark text-decoration-none" href="{{ $article.Link }}">{{ $article.Title }}</a>
                    </h3>
                    <p class="blog-post-meta text-secondary">
                        发布于 <a href="#" class="font-weight-bold">2023-12-01</a>
                        by <a href="#">LuStormstout</a>
                    </p>

                    <hr>

                    <p>{{ $article.Body }}</p>
                </div>
            {{ end }}

            <nav class="blog-pagination mb-5">
                <a class="btn btn-outline-primary" href="#">下一页</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">上一页</a>
            </nav>
        </div>

    </div>
</div>

<script src="/js/bootstrap.min.js"></script>

</body>
</html>