<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} -- 我的技术博客</title>
    <style>
        .error {
            color: red;
        }
        
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <p>ID : {{ .ID }}</p>
    <p>标题 : {{ .Title }}</p>
    <p>内容 : {{ .Body }}</p>
</body>